.compositions
    position: relative
    padding: 80px 0 60px 0
    background-color: $secondary
    background-image: url('../images/composite-bg.svg')
    background-repeat: no-repeat
    background-size: 60%
    background-position: 100% 60%
    &::after
        content: ''
        position: absolute
        top: 50%
        transform: translateY(-50%)
        left: 0
        width: 299px
        height: 344px
        background: url('../images/composite-bg-left.svg')
        background-repeat: no-repeat
    &::before
        content: ''
        position: absolute
        top: 0
        left: 50%
        transform: translateX(-50%)
        width: 51px
        height: 26px
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='26' viewBox='0 0 50 26'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23acc9d4' d='M.215 0v.001c13.202 2.19 23.478 12.542 24.952 25.427h.06C26.7 12.542 36.978 2.191 50.18.001z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E")
    &-slider
        margin-top: 54px
        margin-bottom: 40px
        // .slick-slide
        //     // opacity: 1
        //     // visibility: hidden
        // .slick-list
        //     overflow: visible
        //     overflow-x: hidden
        // .composite-item.slick-slide.slick-active
        //     // opacity: 1
        //     // visibility: visible
        // .slick-list 
        //     overflow: visible!important
        // .slick-slide 
        //     opacity: 0
        //     transition: opacity 0.5s
        // .slick-slide.slick-active 
        //     opacity: 1