.page-descr
    padding: 70px 0 150px 0
    background: #ffffff
    &__wrap
        display: flex
    &__img
        position: relative
        width: 50%
        border-radius: 30px
        background-color: #f2f7f9
        img
            width: 100%
            height: 100%
            object-fit: cover
            border-radius: 30px
        &::after
            content: ''
            position: absolute
            bottom: -85px
            right: 30px
            width: 280px
            height: 174px
            background: url('../images/page-descr-flower.png')
            background-repeat: no-repeat
    &__txt
        padding-left: 60px
        width: 50%
        p 
            margin-bottom: 30px
            color: #000000
            font-size: 16px
            line-height: 1.4
            font-weight: 400
            &:last-child
                margin-bottom: 0
    &__title
        margin-bottom: 40px
        color: $txt
        font-family: 'Oranienbaum'
        font-size: 36px
        font-weight: 400
        text-transform: uppercase
        letter-spacing: 2px
        line-height: normal


@media screen and ( max-width: 1024px )
    .page-descr
        padding: 40px 0 40px
    .page-descr__wrap
        flex-direction: column
    .page-descr__img,
    .page-descr__txt
        width: 100%
    .page-descr__img
        height: 300px
    .page-descr__txt
        padding-left: 0
        margin-top: 30px
    .page-descr__img::after
        display: none
    .page-descr__title 
        font-size: 25px
        margin-bottom: 20px
    .page-descr__txt p 
        margin-bottom: 15px
        font-size: 14px